/*                                     //type of fonts in html
  Two types of fonts
       1.web safe fonts
         -fonts which are the generally save in all browser it mean come commonly with browser
         -we can use it with  font family norammly by typing name in css
        
        2.web fonts
         -font that are not install in the browser
         -we can connect it with the link tag in html head
 */

 /*                                    //term of font that use
   fonts stak is give alternate to the fonts to be print
      like below --:
        -->font-family: Arial, Helvetica, sans-serif;
 */

 /* we use important keyword to block overwriting of contain */


p{
    font-style:italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;

}


div{
    font-weight: bold;   /*To set the weight(in term of bold,light)*/
    line-height: 5;  /*To give space between lines*/
}


span{
    font-family: 'Rubik Beastly', cursive;
}