/* 
This are the selector of web development
  -->entity selector
  -->id selector(#)
  -->class selector(.)
  -->grouping selector(,)

*/

/* Element selector */
a{
    border:2px solid black;
    background-color: yellow ;
    color:red
}

/* ID selector */
#mobno{
    color: green;
}


/* Class selector */
.redele,.pinkbg
{
    color:blue;
    background-color:yellow;
    border-color: 2px solid black;
}

/* Grouping seleector */
ul,ol
{                           
    border-color:2px solid black;
    color:yellow;
    background-color: black;
}